.hight-margin-top {
    margin-top: -5px
  }
  .hight-margin-top {
    height: 22px
  }
  .typHero {
    overflow: hidden;
    background-color: var(--brand-primary);
    padding: 170px 0 0;
    position: relative;
    background-position: 107% 50%;
    background-repeat: no-repeat;
    background-size: auto 106%
  }

  .typHero__bg {
    position: absolute;
    bottom: 0;
    left: 60%;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 110%;
    background-position: 0% 50%
  }

  @media (min-width: 992px) {
    .typHero__bg {
      background-image: url("https://campaign.peruconsulting.co.uk/hubfs/onboarding-templates/peru-logo-bg.svg")
    }
  }

  .typHero__left {
    padding-bottom: 75px;
    position: relative
  }

  @media (min-width: 992px) {
    .typHero__left {
      padding-bottom: 135px
    }
  }

  .typHero__text {
    margin-bottom: 43px;
    text-align: center
  }

  @media (min-width: 992px) {
    .typHero__text {
      text-align: left;
      max-width: 590px
    }
  }

  .typHero__text h1,
  .typHero__text h2 {
    color: var(--white);
    margin-bottom: 20px;
    font-size: calc(40px + 10 * ((100vw - 576px) / 1024));
    line-height: 1.2em
  }

  @media screen and (max-width: 576px) {

    .typHero__text h1,
    .typHero__text h2 {
      font-size: 40px
    }
  }

  @media screen and (min-width: 1600px) {

    .typHero__text h1,
    .typHero__text h2 {
      font-size: 50px
    }
  }

  @media (min-width: 992px) {

    .typHero__text h1,
    .typHero__text h2 {
      font-size: calc(50px + 20 * ((100vw - 576px) / 1024));
      line-height: 1.2em
    }
  }

  @media screen and (min-width: 992px) and (max-width: 576px) {

    .typHero__text h1,
    .typHero__text h2 {
      font-size: 50px
    }
  }

  @media screen and (min-width: 992px) and (min-width: 1600px) {

    .typHero__text h1,
    .typHero__text h2 {
      font-size: 70px
    }
  }

  .typHero__text h1 em,
  .typHero__text h2 em {
    color: var(--brand-secondary)
  }

  .typHero__text p {
    line-height: 1.5em;
    color: var(--white);
    margin-bottom: 30px;
    font-weight: var(--fw-normal)
  }

  @media (min-width: 992px) {
    .typHero__text p {
      max-width: 543px
    }
  }

  .typHero__text p:last-child {
    margin-bottom: 0
  }

  .typHero__text ul {
    padding-left: 20px;
    margin-bottom: 20px
  }

  @media (min-width: 992px) {
    .typHero__text ul {
      padding-left: 40px
    }
  }

  .typHero__text ul:last-child {
    margin-bottom: 0
  }

  .typHero__text ul li {
    font-size: calc(22px + 0 * ((100vw - 576px) / 1024));
    line-height: 1.2em;
    color: var(--white);
    margin-bottom: 20px
  }

  @media screen and (max-width: 576px) {
    .typHero__text ul li {
      font-size: 22px
    }
  }

  @media screen and (min-width: 1600px) {
    .typHero__text ul li {
      font-size: 22px
    }
  }

  .typHero__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%
  }

  @media (min-width: 992px) {
    .typHero__buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      max-width: 100%
    }
  }

  .typHero__buttons .button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .typHero__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    max-width: 459px;
    margin: 0 auto
  }

  @media (min-width: 992px) {
    .typHero__image {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-left: auto
    }
  }

  .typHero__image img {
    position: relative
  }

  .typHero__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin: 0 auto 50px
  }

  @media (min-width: 992px) {
    .typHero__video {
      margin-top: 10px;
      margin-left: auto;
      margin-bottom: 100px
    }
  }

  .typHero__video__frame {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 960px;
    cursor: pointer
  }

  .typHero__video__inner {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    border-radius: 10px
  }

  .typHero__video__play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2
  }

  .typHero__video__play.active {
    pointer-events: none
  }

  .typHero__video__play.active:before {
    opacity: 0;
    z-index: -1
  }

  .typHero__video__play.active svg {
    pointer-events: none;
    display: none
  }

  .typHero__video__play svg {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    width: 100px;
    height: 100px;
    border-radius: 50%
  }

  .typHero__video__play:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff
  }

  .typHero__video:hover .typHero__video__play svg path {
    fill: #ffffff
  }

  .typHero__video:hover .typHero__video__play:before {
    background-color: #089F84
  }

  .typHero__video video,
  .typHero__video iframe {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .typHero__video video[poster] {
    -o-object-fit: cover;
    object-fit: cover
  }