$color-border: #d9d9d9;
$color-text-body: var(--text-body); // Assuming you're using CSS variables, you could alternatively define these in SCSS if preferred.
$color-brand-secondary: var(--brand-secondary);
$color-white: var(--white);

.typTemplate {
    .footer__legal {
      border-top: 1px solid $color-border;
    }
  }
  
  .footer {
    background: $color-white;
  
    &__ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  
    &__li {
      margin-bottom: 12px;
  
      &:first-child {
        margin-bottom: 15px;
  
        a {
          color: $color-text-body;
        }
      }
    }
  
    &__link {
      color: $color-text-body;
  
      &[href=""] {
        cursor: default;
        pointer-events: none;
      }
  
      &.active,
      &:hover {
        color: $color-brand-secondary;
      }
    }
  
    &__legal {
      padding: 16px 0;
  
      @media (min-width: 768px) {
        border-top: 1px solid $color-border;
        padding: 30px 0;
      }
  
      &-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
  
        @media (min-width: 992px) {
          justify-content: flex-start;
        }
      }
  
      &-li {
        margin: 0 10px 20px;
        font-size: calc(12px + 0 * ((100vw - 576px) / 1024));
        line-height: 1.5em;
        color: $color-text-body;
  
        @media (max-width: 576px) {
          font-size: 12px;
        }
  
        @media (min-width: 1600px) {
          font-size: 12px;
        }
  
        @media (min-width: 768px) {
          margin: 0 20px 0 0;
        }
  
        @media (max-height: 700px) {
          font-size: calc(12px + 0 * ((100vw - 576px) / 1024));
  
          @media (max-width: 576px) {
            font-size: 12px;
          }
  
          @media (min-width: 1600px) {
            font-size: 12px;
          }
        }
      }
    }
  }
  